{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Listing: {{ listing.title }}</h1>
    <h4>Listed by: '{{ listing.user }}'</h4><hr>
    {% if listing.is_closed %}
        <h4> <span style="background-color: tomato;">This listing has been closed.</span></h4>
        {% if listing.winner == request.user %}
            <h4> <span style="background-color: MediumSeaGreen;">You have won the bid</span></h4>
        {% endif %}
    {% endif %}
    <ul style="list-style: none;">
        {% if user.is_authenticated %}
            {% if listing.user == request.user and listing.is_closed == False %}
                <li>
                    <form action="" method="post">
                        {% csrf_token %}
                        <button type="submit" name="close_listing" style="background-color: tomato;">Close Listing</button>
                    </form>
                </li><br>
            {% endif %}
            <li>
                <form action="{% url 'toggle_watchlist' listing.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    {% if on_watchlist %}
                        <h3> <span style="background-color: powderblue;">On Watchlist</span></h3>
                        <button type="submit">Remove from Watchlist</button>
                    {% else %}
                        <button type="submit">Add to Watchlist</button>
                    {% endif %}
                </form>
            </li><br>
        {% endif %}

        {% if listing.image_url %}
            <li><img src="{{ listing.image_url }}" 
                style="width: auto; height: 500px; text-align: center;">
            </li>
        {% endif %}
        <li>{{ listing.description }}</li><br>
        <li><h2><b>${{ listing.current_price|floatformat:2  }}</b></h2>
            <p>{{ listing.bids.count }} bid(s) so far.</p>
        {% if highest_bidder %}
            <p>Your bid is the current bid.</p>
        {% endif %}
        </li>

    {% if user.is_authenticated and listing.is_closed == False %}
        <li>
            <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                ${{ form.bid }}
                <input type="submit" value="Place Bid">
            </form>
            {% if form.errors %}
                <div style="color: red;">
                    {{ form.errors }}
                </div>
            {% endif %}
        </li>
    {% endif %}
    </ul><hr>
    
    <h2>Comments</h2>
    {% if request.user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            {{ comment_form }}
            <button type="submit" class="btn btn-primary">Post Comment</button>
        </form>
    {% else %}
        <p><a href="{% url 'login' %}">Log in</a> to post a comment.</p>
    {% endif %}<br>
    <div class="comments">
        {% for comment in comments %}
            <div class="comment">
                <strong>{{ comment.user.username }}</strong>
                <p style="width: 25%; word-wrap: break-word;">{{ comment.content }}</p>
                <small>{{ comment.timestamp }}</small>
            </div><br>
        {% empty %}
            <p>No comments yet.</p>
        {% endfor %}
    </div>
{% endblock %}

